@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* share style */
.display-flex{
    display: flex;
}
.text-align{
    text-align: center;
    align-items: center;
}
main, header{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
section{
    margin-top: 90px;
}
.primary-text{
    color: #3A3A3A;
}
.btn-primary{
    border: none;
    border-radius: 40px;
    background-color: #E02C6D;
    height: 40px;
    width: 170px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.btn-primary:hover{
    border: 1px solid #E02C6D;
    transition: 1s;
    color: #E02C6D;
    background-color: white;
}
.hero-bg{
    background-image: url(../images/Circle\ design.svg);
    height: 500px;
    width: 80%;
    background-position: right top;
    background-repeat: no-repeat;
}
#text-color{
    color: #E02C6D;
}
/* header section */
.brand{
    font-size: 1.75rem;
    font-weight: 700;
}
.nav-iteam{
    align-items: center;
    justify-content: space-between;
}
nav ul{
    gap: 35px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
}
nav li a:hover{
    color: #E02C6D;
}
/* hero section */
.hero{
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}
.hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.hero-description{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 16px;
    max-width: 510px;
}
.hero-image{
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-left: 70px;
}

/*  */
.sponsor-company{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    max-width: 1110px;
    margin-left: 40px;
    align-items: center;
}
/* product */
.product-containt{
    font-size: 1.75rem;
    font-weight: 600;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product{
    height: 430px;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-image{
    height: 255px;
    width: 300px;
}
.product-title{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
}
.product-price{
    font-size: 1.55rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0px;
}
.product-description{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 10px;
}
#btn-2{
    color: #E02C6D;
    background-color: white;
    border: none;
    text-align: left;  
}
/*  */
.feature-container{
    gap: 80px;
    
}
.frature-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.frature-description{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 10px;
    max-width: 500px;
}
/* footer section */
footer{
    background-color: #0A0826;
    padding: 0;
}
.footer-logo{
    font-size: 1.75rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-top: 30px;
}
.footer-title{
    color: white;
    font-size: 0.75rem;
    margin-top: 5px;
    padding-top: 0px;
}
.icon{
    filter: grayscale(100%);
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

/* responsive style */
body{
    width: 100%;
}
@media screen and (max-width:576px){
    .nav-iteam,
    .nav-container,
    .hero,
    .feature-container
    {
        flex-direction: column;
    }
    .sponsor{
        justify-items: center;
    }
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        align-items: center;
        margin-left: 0;
       
    }
    .product-container{
       grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    /* body{
        align-items: center;
        justify-content: center;
    } */
     .hero-title{
        margin-top: 0;
        font-size: 2rem;
        text-align: center;
     }
     .hero-description{
        text-align: center;
     }
     .hero-btn{
        display: block;
        margin: 0 auto;
     }
     nav ul{
        padding: 0;
     }
     .sponsor-company{
        width: 30%;
        gap: 40px;
        justify-content: center;
     }
     .hero{
        flex-direction: column-reverse;
        gap: 0;
     }
     .hero-image{
        width: 100%;
        height: auto;
        margin-left: 0px;
     }
     .hero-bg{
        /* height: 600px; */
        width: 100%;
        background-position: center;

     }
     .feature-container {
        gap: 0;
     }
     .feature-image{
        width: 100%;
        height: auto;
     }
     .frature-title{
        margin-top: 0px;
     }
    .frature-title{
     margin-top: 50px;
    }
}

@media screen and (min-width:576px) and (max-width:992px){
     .product-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .feature-container
    {
        flex-direction: column;
    }
    footer{
        width: 100%;
    }
}